<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Oven_Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
  <add name="OvenDataDB" connectionString="Server=(localdb)\MSSQLLocalDB;Database=dbo.OvenDataDB;Trusted_Connection=true"
   providerName="System.Data.SqlClient" />
  <add name="OvenDataDB2" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|%ProgramData%|Oven Interface\OvenDatabase.mdf;Trusted_Connection=false;Integrated Security=False"
   providerName="System.Data.SqlClient" />
  <add name="Oven_Interface.Properties.Settings.OvenDatabaseConnectionString"
   connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\OvenDatabase.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Oven_Interface.Properties.Settings>
            <setting name="temperatureCoefficientA" serializeAs="String">
                <value>0.0023289618877854</value>
            </setting>
            <setting name="temperatureCoefficientB" serializeAs="String">
                <value>-0.8132904677022324</value>
            </setting>
            <setting name="temperatureCoefficientC" serializeAs="String">
                <value>-60.54023427552839</value>
            </setting>
            <setting name="channelTemperatureSensor" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ActiveProgramId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="powerplantPin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="temperatureUpPin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="temperatureDownPin" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="lightsPin" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="waterSolenoidPin" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="openVentilationPin" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="closeVentilationPin" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="waterCounterPin" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="canChangeTempsAgainAfter" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="turnOffTempOperationsAfter" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="timeToFullyOpenVentilationValve" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="waterClicksPerLiter" serializeAs="String">
                <value>1</value>
            </setting>
        </Oven_Interface.Properties.Settings>
    </userSettings>
</configuration>