<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Oven_Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
  <add name="OvenDataDB" connectionString="Server=(localdb)\MSSQLLocalDB;Database=dbo.OvenDataDB;Trusted_Connection=true"
   providerName="System.Data.SqlClient" />
  <add name="OvenDataDB2"
   connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\OvenDatabase.mdf;Trusted_Connection=true"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Oven_Interface.Properties.Settings>
            <setting name="temperatureCoefficientA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="temperatureCoefficientB" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="temperatureCoefficientC" serializeAs="String">
                <value>-409</value>
            </setting>
            <setting name="channelTemperatureSensor" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="pinTemperatureRelay" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ActiveProgramId" serializeAs="String">
                <value>-1</value>
            </setting>
        </Oven_Interface.Properties.Settings>
    </userSettings>
</configuration>