<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Oven_Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
  		<add name="OvenDataDB" connectionString="Server=.\SQLEXPRESS;Database=dbo.OvenDataDB;Trusted_Connection=true" providerName="System.Data.SqlClient"/> 
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Oven_Interface.Properties.Settings>
            <setting name="temperatureCoefficientA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="temperatureCoefficientB" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="temperatureCoefficientC" serializeAs="String">
                <value>-409</value>
            </setting>
        </Oven_Interface.Properties.Settings>
    </userSettings>
</configuration>